<div class="box">
  <div *ngIf="login">
    <div class="align-center mt-7">
      <form [formGroup]="loginForm" class="login-form pt-3">
        <h3 class="pb-2">NeuCarPlace</h3>
        <input
          type="text"
          class="form-input"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
          placeholder="Enter email id"
          formControlName="email"
        />
        <input
          type="password"
          class="form-input"
          placeholder="Enter password"
          formControlName="password"
        />
        <button
          type="submit"
          class="btn-properties mt-4 pl-3 pr-3"
          name="login"
          (click)="submit(this.loginForm.get('password').value)"
          [disabled]="!loginForm.valid"
        >
          Login
        </button>
        <br />
        <div class="mt-5">
          <span>Don't have an account?</span>&nbsp;
          <a (click)="toggle()">Register here</a>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="!login">
    <div class="align-center mt-7">
      <form [formGroup]="registerForm" class="login-form pt-3">
        <input
          type="text"
          class="form-input"
          pattern="[a-zA-Z][a-zA-Z ]+"
          placeholder="Enter name"
          formControlName="name"
        />
        <input
          type="email"
          class="form-input"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
          placeholder="Enter email id"
          formControlName="email"
        />
        <input
          type="password"
          class="form-input"
          placeholder="Enter password"
          formControlName="password"
        />
        <button
          type="submit"
          class="btn-properties mt-4 pl-3 pr-3"
          (click)="register()"
          [disabled]="!registerForm.valid"
          value="Register"
        >
          Register
        </button>
        <br />
        <div class="mt-5">
            <span>Already have an account?</span>&nbsp;
            <a (click)="toggle()">Login now</a>
          </div>
      </form>
    </div>
  </div>
</div>
