
*.lock
*.config
*.dll
*.ide
*.ide-wal
*.ide-shm
*.cache
*.cache
*.props
.vs/NeuCarPlace/v15/.suo
NeuCarPlace.Domain/bin/Debug/netcoreapp2.1/NeuCarPlace.Domain.dll
NeuCarPlace.Domain/bin/Debug/netcoreapp2.1/NeuCarPlace.Domain.pdb
NeuCarPlace.Domain/obj/Debug/netcoreapp2.1/NeuCarPlace.Domain.assets.cache
NeuCarPlace.Domain/obj/Debug/netcoreapp2.1/NeuCarPlace.Domain.csproj.FileListAbsolute.txt
NeuCarPlace.Domain/obj/Debug/netcoreapp2.1/NeuCarPlace.Domain.dll
NeuCarPlace.Domain/obj/Debug/netcoreapp2.1/NeuCarPlace.Domain.pdb
NeuCarPlace.Domain/obj/NeuCarPlace.Domain.csproj.nuget.cache
NeuCarPlace.Domain/obj/NeuCarPlace.Domain.csproj.nuget.g.props
NeuCarPlace.Domain/obj/project.assets.json
NeuCarPlace.Services/bin/Debug/netcoreapp2.1/NeuCarPlace.Domain.dll
NeuCarPlace.Services/bin/Debug/netcoreapp2.1/NeuCarPlace.Domain.pdb
NeuCarPlace.Services/bin/Debug/netcoreapp2.1/NeuCarPlace.Services.dll
NeuCarPlace.Services/bin/Debug/netcoreapp2.1/NeuCarPlace.Services.pdb
NeuCarPlace.Services/obj/Debug/netcoreapp2.1/NeuCarPlace.Services.assets.cache
NeuCarPlace.Services/obj/Debug/netcoreapp2.1/NeuCarPlace.Services.csproj.CoreCompileInputs.cache
*.dll
*.pdb
*.cache
