.box {
    box-shadow: 2px 2px 20px 2px #AFAFAF;
}

.text-justify {
    text-align: justify;
}

.btn-properties {
    padding: 10px 20px;
    background-color: rgb(255, 123, 0);
    color: #000;
    border: none;
    box-shadow: 2px 2px 5px 0px rgb(153, 74, 0)
}